<div class="m-3">
  <h2>Euler, Euler mejorado y Runge-Kutta</h2>
  <hr class="rounded">
  <div class="form-group" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Y´
              <span class="tooltiptext">
                Ejemplos:
                <ul>
                  <li>x+y</li>
                  <li>x-y</li>
                  <li>x*y</li>
                  <li>x/y</li>
                  <li>x^y</li>
                  <li>sin(x)</li>
                  <li>cos(x)</li>
                  <li>tan(x)</li>
                </ul>
              </span>
            </div>
          </div>
          <input type="text" class="form-control" id="funcion" formControlName="funcion" placeholder="Funcion">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Y(0)</span>
          </div>
          <input type="number" class="form-control" id="yInicial" formControlName="yInicial" placeholder="Valor inicial de Y">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">X(0)</span>
          </div>
          <input type="number" class="form-control" id="xInicial" formControlName="xInicial" placeholder="Valor inicial de X">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">X(n)</span>
          </div>
          <input type="number" class="form-control" id="xFinal" formControlName="xFinal" placeholder="Valor final de X">
        </div>
      </div>
      <div class="col-md-2">
        <div style="display: grid;">
          <span>Intervalos: {{intervalos.value}} </span>
          <input #sliderElement [id]="slider.id" type="range" [step]="slider.step" [min]="slider.minValue" [max]="slider.maxValue" formControlName="intervalos">
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="calcular(true, false)">Graficar</button>
      </div>
    </div>
  </div>
  <div class="m-3">
    <apx-chart #chartObj
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</div>